* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
}

#container {
  width: 50%;
  max-width: 1200px;
  min-width: 400px;
  margin: 0 auto;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
}

#container > * {
  width: 100%;
  display: flex;
  border-radius: 5px;
  gap: 10px;
}

/* ---------------addWordArea --------------------- */
#addWordArea {
}

#addWordLineItem {
  width: 75%;
}

#addBtnLineItem {
  min-width: fit-content;
  flex: 1;
}

.lineItem {
  height: 2rem;
}

.lineItem > * {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

#addWordArea > .lineItem > input {
  padding: 10px;
}

#addWordArea > .lineItem > button {
  background-color: #667eea;
  padding: 0 1rem;
  color: white;
  cursor: pointer;
  border: none;
}

/* ---------------wordInDictionaryArea------------------ */
#wordInDictionaryArea {
  background-color: #f8fafc;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

#wordCount {
  font-weight: bold;
  color: #667eea;
}

/* ---------------addWordMsgArea--------------------- */
#addWordMsgArea {
  align-items: center;
  width: 100%;
  text-align: center;
}

.errorMsg {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fed7d7;
  color: #752b2c;
  border: 1px solid #752b2c;
}

.successMsg {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #C6F6D4;
  color: #21543D;
  border: 1px solid #21543D;
}
